{% extends "base.html" %}

{% block content %}

<h1 class="text-center mb-5">LogIn</h1>

{% if form.errors %}
    {% for error in form.errors %}
        <div class="danger">{{ error }}</div>
    {% endfor %}
{% endif %}

<form class="form mb-5" action="{% url 'login' %}" method="post">

    {% for field in form %}
    
        <div class="form-group">
            {{ field.label }}
            {{ field }}
        </div>

    {% endfor %}
    {% csrf_token %}
    <input class="btn bg-light-blue mybtn" type="submit" value="LogIn">

</form>
<a href="{% url 'password_reset' %}">Forgot password?</a>

{% endblock content %}
