{% extends "settings.html" %}

{% block title %}Change your password{% endblock title %}

{% block h1 %}
Change your password
{% endblock h1 %}

{% block settings %}

            <form action="." method="post">
                {% for field in form %}
                <div class="form-group">
                    {{ field.label }}
                    {{ field }}
                </div>
                {% endfor %}
                {% csrf_token %}
                <input class="btn bg-middle-blue mybtn" type="submit" value="Change password">
            </form>

{% endblock settings %}
