{% extends "base.html" %}

{% block content %}

<h1 class="text-center mb-5">SignUp</h1>

{% if form.errors %}
    {% for error in form.errors %}
        <div class="danger">{{ error }}</div>
    {% endfor %}
{% endif %}

<form action="{% url 'signup' %}" method="post">

    {% for field in form %}
    
        <div class="form-group">
            {{ field.label }}
            {{ field }}
        </div>

    {% endfor %}
    {% csrf_token %}
    <input class="btn bg-light-blue mybtn" type="submit" value="SignUp">

</form>

{% endblock content %}