.bg-dark-blue {
    background-color: #303c6c;
}

.dark-blue {
    color: #303c6c;
}

.bg-light-blue {
    background-color: #d2fdff;
}

.light-blue {
    color: #d2fdff;
}

.bg-yellow {
    background-color: #fbe8a6;
}

.yellow {
    color: #fbe8a6;
}

* {
    font-family: 'Open Sans', Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Proza Libre', Helvetica, sans-serif;
}

.logo {
    font-family: 'Megrim';
}
