<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark-blue mb-5 shadow">
    <div class="container">
        <a class="navbar-brand logo" href="{% url 'home_view' %}"><span class="yellow logo">Bandmate</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if request.resolver_match.url_name == 'musicians' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'musicians' %}">Musicians</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'bands' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'bands' %}">Bands</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                    <a href="{% url 'user_dashboard' %}" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">LogOut</a>
                </li>
                {% else %}
                <li class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'login' %}">LogIn</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'signup' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>