{% extends "settings.html" %}

{% load method_override %}

{% block title %}
{{ block.super }} | Band edit
{% endblock title %}

{% block h1 %}
Edit your band
{% endblock h1 %}

{% block settings %}

    <form action="." method="post">
    
        {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
                <small>{{ field.help_text }}</small>
            </div>
        {% endfor %}
        {% csrf_token %}
        {% if request.resolver_match.kwargs.id %}
            {% method_override 'PUT' %}
        {% endif %}
    <input type="submit" value="Save band" class="btn bg-middle-blue mybtn">
    </form>

{% endblock settings %}
