{% extends "bands/settings.html" %}

{% block title %}
{{ block.super }} | Profile edit
{% endblock title %}

{% block h1 %}
Edit your profile
{% endblock h1 %}

{% block settings %}

    <form action="." method="post">
    
        {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field }}
                <small>{{ field.help_text }}</small>
            </div>
        {% endfor %}
        {% csrf_token %}
        <input type="submit" value="Save profile" class="btn bg-middle-blue mybtn">
    </form>

{% endblock settings %}
