{% extends "base.html" %}

{% block title %}
{{ block.super }} | Dashboard
{% endblock title %}

{% block content %}

<h1 class="text-center mb-5">Dashboard</h1>

<div class="row">

<div class="col-3">
  {% include "partials/user_dashboard_menu.html" %}
</div>

<div class="col-6 mb-5 mx-auto justify-content-center">
<table class="table table-borderless">
  <tbody>
    <tr>
      <td>Username</td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>{{ user.musician.first_name }}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{ user.musician.last_name }}</td>
    </tr>
    <tr>
      <td>Birth Date</td>
      <td>{{ user.musician.birth_date }}</td>
    </tr>
    <tr>
      <td>City</td>
      <td>{{ user.musician.city.name }}</td>
    </tr>
    <tr>
      <td>Is Busy</td>
      <td>{% if user.musician.is_busy %}
        Yes
      {% else %}
        No
      {% endif %}</td>
    </tr>
    <tr>
      <td>Instruments</td>
      <td>
        {% for instrument in user.musician.instruments.all %}
            <p>{{ instrument.name }}</p>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>Bands</td>
      <td>
        {% for band in user.musician.bands.all %}
            <a href="{% url 'bands' band.id %}">{{ band.name }}</a>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>Bio</td>
      <td>
        {{ user.musician.bio }}
      </td>
    </tr>
  </tbody>
</table>

</div>
</div>

{% endblock content %}
