{% load static %}
{% load method_override %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bandmate{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Megrim&family=Open+Sans:wght@300&family=Proza+Libre&display=swap" rel="stylesheet"> 
</head>
<body>
    {% include "partials/navbar.html" %}
    <div class="container mb-5">

    {% include "partials/messages.html" %}

    {% block content %}
    
    {% endblock content %}
    </div>
    {% include "partials/footer.html" %}
</body>
</html>
